  {{#each clues}}
    {{#unless answered}}
      <li class="clue" id="{{this.id}}">
        <p class="value">${{value}}</p>
        <div class="question">
        </div>
        </p>
      </li>
    {{/unless}}
  {{/each}}
  </div>
