{{#if correct}}
  <p>Correct! The answer is {{clue_answer}}</p>
{{else}}
  Sorry, the correct answer is <em>{{clue_answer}}</em>
{{/if}}

<button class="btn btn-default" id="nextQuestion">Next Question!</button>
