  {{#each clues}}
    {{#unless answered}}
    <ul>
      <li class="clue" id="{{this.id}}">
        <p class="value">{{value}}</p>
        <div class="question">
        </div>
        </p>
      </li>
    </ul>
    {{/unless}}
  {{/each}}
  </div>
