<div class="question-ask-box">

  <h2 class="category-title">{{clue.category.name}}</h2>

  <h3 class="question">For ${{clue.value}}: <br/>
     {{clue.question}} </h3>
</div>

<form id="question-response" class="question-response-box">
  <fieldset>
    <legend>Who/What is...</legend>
    <input type="text" class="form-control" name="clue[response]" placeholder="Who/What is..." id="{{clue.id}}">
    <input type="submit" name="submit" class="btn btn-success" value="Answer!">
    <button class="btn btn-danger" id="backToCategories">Back</button>
  </fieldset>
</form>

</div>
